* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-image: url("../images/uni-bg.jpg"); 
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

nav{
  background-color: #f1f6f9;
  text-align: center;
  border-bottom: 1px solid grey;
}

nav #navbarNav {
  padding: 0 24px;
} 

nav .nav-item {
  list-style: none;
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.nav-link:hover {
  background-color: grey
  color: #fff;
}

#web-logo-home {
  height: 30px;
  width: 30px;
}

/*Landing Section CSS*/
.landingSection {
  color: #fff;
  height: 95vh;
  display: flex;
  align-items: center;
  background-image: url("../images/jumbo-landing-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landingSection #profile-pic {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 2px solid grey;
  margin-bottom: 14px;
}

.landingSection p {
  font-family: 'Raleway', sans-serif;
}

.landingSection .fab-landing {
  color: #fff;
}

/*End of Landing Section*/


/*Main Section CSS*/
.mainSection {
  color: #000; 
  padding: 30px;
  
}

.mainSection #profilePicture {
  height: 81vh;
  width: 100%;
  background-image: url("../images/meme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
}

.mainSection #profileDesc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSection h1 {
  color: #000;
}

.mainSection h2 {
  color: #000;
}

.mainSection p{
  line-height: 1.8;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

.mainSection hr {
  border: 1px solid black;
  margin: 30px 0;
}
/*End of Main Section*/

/*Background Section CSS*/
.backSection {
  color: #fff; 
  padding: 30px;
  background-color: #14274e;
}

.backSection h1 {
  color: #fff;
}

.backSection h2 {
  color: #fff;
}

.backSection p{
  line-height: 1.8;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

.backSection hr {
  margin: 30px 0;
  border: 1px solid white;
}
/*End of background Section*/

/*Technology Section CSS*/
.techSection {
  color: #fff; 
  padding: 30px;
  background-color: #394867;
}

.techSection h1 {
  color: #fff;
}

.techSection h4 {
  padding: 8px 0;
  color: #000;
}

.techSection p{
  line-height: 1.8;
  color: #000;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

.techSection hr {
  margin: 30px 0;
  border: 1px solid white;
}

.techSection .tech-stack {
  height: 100px;
  margin-top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.techSection .card {
  margin: 15px 0;
  height: 39vh;
  border-radius: 50px;
}
.techSection .card-body{
  overflow: auto;
}

.techSection #html {
  background-image: url("../images/html.png");
}

.techSection #css {
  background-image: url("../images/css.png");
}

.techSection #js {
  background-image: url("../images/js.png");
}

.techSection #bs {
  background-image: url("../images/bs.png");
}

.techSection #ap {
  background-image: url("../images/ap.png");
}

.techSection #react {
  background-image: url("../images/react.png");
}
/*End of background Section*/

/*Project Section CSS*/
.projSection {
  color: #fff; 
  padding: 30px;
  background-color: #9ba4b4;
}

.projSection h1 {
  color: #fff;
}

.projSection p{
  line-height: 1.8;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

.projSection p,h4 {
  padding-bottom: 10px;
  color: #000;
}

.techSection .card {
  margin: 15px 0;
}

.projSection .card-img-top {
  width: 100%;
  border-bottom: 1px solid grey;
}
.projSection hr {
  margin: 30px 0;
  border: 1px solid white;
}

/*End of background Section*/

/*Contact Section CSS*/
.contSection {
  color: #000; 
  padding: 30px;
  background-color: #f1f6f9;
}

.contSection h1 {
  color: #000;
}

.contSection p{
  line-height: 1.8;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

.contSection p,h4 {
  padding-bottom: 10px;
  color: #000;
}

.contSection .card-img-top {
  width: 100%;
  border-bottom: 1px solid grey;
}
.contSection hr {
  margin: 30px 0;
  border: 1px solid black;
}

.contSection #fab-contact {
  color: #000;
  margin-right: 14px;
}

.contSection #gmap {
  padding-top: 15px;
  height: 36vh;
  width: 100%;
}

.contSection .modal-header {
  background-color: #14274e;
  color: #fff;
  padding: 40px 30px;
}

.contSection .cont-info-label {
  padding-top: 14px;
}

/*End of Contact Section*/

/*Footer Section*/

footer .fab {
  color: grey;
  padding: 10px;
}

footer{
  background-color: #14274e;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid grey;
  padding: 10px 10px; 
  bottom: 0;
  font-family: 'Raleway', sans-serif;
}

footer p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

/*end of Footer*/